<h1>Jobs</h1>

<% @jobs.each do |job| %>
  <%= link_to job.title, job_path(job) %> |
  <%= job.company.name %> |
  <%= job.url %> |
  <%= job.description %><br>
  <%= job.requirements %><br>
  <%= job.instructions %><br>
  <hr>
<% end %>