<div>
<h1>Admin Actions</h1>
  <table>
    <th>
      <h4><tr align="left"><strong>
        <td>date</td>
        <td>status</td>
        <td>job</td>
        <td>contact</td>
        <td>company</td>
        <td>notes</td>
        <td>step</td>
        <td>next_step</td>
        <td>first_contact</td>    
      </strong></tr></h4>
    </th>
    <% @actions.each do |action| %>
    <tr>
      <td><%= action.date %></td>
      <td><%= action.status %></td>
      <td><%= link_to action.job.title, job_path(action.job) %></td>
      <td><%= action.contact.fname.concat(action.contact.lname) %></td>
      <td><%= link_to action.company.name, company_path(action.company) %></td>
      <td><%= action.notes %></td>
      <td><%= action.step.name %></td>
      <td><%= action.next_step %></td>
      <td><%= action.first_contact %></td>
    </tr>
  <% end %>
  </table>
</div>
