<h1>Actions</h1>

<% @actions.each do |action| %>
  <%= action.step.name %> |
  <%= action.job.title %> |
  <%= action.company.name %> |
  <%= action.date %> |
  <%= action.notes %> |
  <%= action.status %> |
  <%= action.next_step %> |
  <%= action.first_contact %><br>
<% end %>