<h3>user: <%= @user.email %></h3>

<!-- <h4><%#= link_to "Show User Todos", user_todos_path(@user), class: "load-user-todos", remote: true %></h4>
 -->
 <h4>Todos rendered via partial: </h4>
  <%= render partial: 'todos/user_todos', locals: { todos: @user_todos } %>

<!-- <div id="user-todos-new">
  <ol></ol>–
</div> -->

<%= user_todos_path(@user) %>
<%#= form_for([@user, @todo]) do |f| %>
<%= form_for(@todo, method: 'post', url: user_todos_path(@user)) do |f| %>
  
  <% f.hidden_field :user_id %>

  <%= f.label :company %><br>
  <%= f.collection_select :company_id, Company.all, :id, :name %><br>

  <%= f.label :notes %><br>
  <%= f.text_area :notes %><br>
  <%= f.submit %>
<% end %>


<%#= form_for(@user_log, method: 'post', url: user_logs_path) do |f| %>
  <%#= f.label :notes %>
  <%#= f.text_area :notes %>
  <%#= f.submit %>
<%# end %>


<!-- 
<div id="add-user-todo">
<form method="post", todo="/users/:id/todos">
  <textarea></textarea><br>
  <input type="submit">
</form>
</div> -->

