<h1>Contacts</h1>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Organization</th>
        <th>Title </th>
        <th>Email </th>
        <th>Phone </th>
        <th>URL </th>
        <th>About </th>
        <th>History</th>
      </tr>
    </thead>
    <tbody>
      <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.id %>
        <td><%= contact.fname %> <%= contact.lname %></td>
        <td><%= contact.org.name %></td>
        <td><%= contact.title %></td>
        <td><%= contact.email %></td>
        <td><%= contact.phone %></td>
        <td><%= contact.url %></td>
        <td><%= contact.about %></td>
        <td><%= contact.history %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>