<div>
<h3>User Resources</h3>
  <table>
    <th>
      <tr>
        <td>owner</td>
        <td>resource name</td>
        <td>format</td>
        <td>location</td>
        <td>description</td>
      </tr>
    </th>
    <% @resources.each do |resource| %>
    <tr>
      <td><%= resource.user.email %></td>
      <td><%= resource.name %></td>
      <td><%= resource.format %></td>
      <td><%= resource.location %></td>
      <td><%= resource.description %></td>
    </tr>
  <% end %>
  </table>
</div>
