<!-- <%# if current_user.admin? %>  --constrain to only admin eventually-->
<div class="admin">
  ADMIN: 
  <button><%= link_to "users", users_path %></button>
  <button><%= link_to "todos", admin_todos_path %></button>
  <button><%= link_to "companies", companies_path %></button>
  <button><%= link_to "contacts", contacts_path %></button>
  <button><%= link_to "jobs", jobs_path %></button>
  <button><%= link_to "resources", resources_path %></button>
  <button><%= link_to "tags", tags_path %><br></button>
</div>
