<!DOCTYPE html>
<html>
  <head>
    <title>JobCrmV1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <%= link_to "Orgs", orgs_path %> |
  <%= link_to "Contacts", contacts_path %> |
  <%= link_to "Jobs", jobs_path %> |
  <%= link_to "Actions", user_actions_path(1) %> |
  <%= link_to "Resources", resources_path %> |
  <%= link_to "Tags", tags_path %> |
  <%= link_to "Users", users_path %> |
  <%= link_to "My Dashboard", root_path %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
